name: C/C++ CI

on:
  push:
    branches: [ "main*", "release*" ]
  pull_request:
    branches: [ "main*", "release*" ]

permissions:
  actions: read
  checks: read
  contents: read
  issues: write
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ vars.RUNNER_CI_BUILD || 'ubuntu-latest' }}

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        submodules: recursive
        token: ${{ secrets.ALL_REPO_CONTENTS_READ_PAT || github.token }}

    - name: install build prerequisites
      shell: bash
      run: |
        set -xeuo pipefail

        sudo -E apt-get update -o Acquire::Retries=3 -o Acquire::http::Timeout=15 -o Acquire::https::Timeout=15
        
        sudo -E apt-get install -y --no-install-recommends \
          build-essential \
          ocaml \
          ocamlbuild \
          automake \
          autoconf \
          libtool \
          wget \
          python-is-python3 \
          libssl-dev \
          cmake \
          perl \
          file

    - name: build SDK
      run: make preparation; make sdk_install_pkg

    - name: upload SDK installer
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
      with:
        name: sdk_installer
        path: linux/installer/bin/sgx_linux_x64_sdk_*.bin
        if-no-files-found: error
        retention-days: 3
